
<h2>Bandana#Load Nodes</h2>
<p>Let AJAX populate the output here !</p>
<p>Displaying loaded nodes !</p>

<% @image_tobe_loaded.each do |img| %>
<%= "Loading" %>
<%= img %> 
<%= "on following nodes: "%> <br />
<% end  %>
<% @nodes_tobe_loaded.each do |n| %>
<%= n %> <br />
<% end  %>

<p>Let AJAX populate the output here !</p>
<table>
<caption>Let AJAX populate the output here</caption>
<tr>
<td id="log"></td>
<td>

 <%= link_to_remote "Refresh", :url=>{:controller => 'bandana', :action => :screen_log}, :update => "log" %>

</td>
</tr>
</table>

