<h2>Band</h2>

<% @band.each do |ban| %>
  <p>
  <%= ban[:question] %>?
  <%= link_to 'Yes', { :action => 'vote', :id => ban[:id], :answer => 'yes' }, :method => :post %> (<%= ban[:yes] %>) /
  <%= link_to 'No', { :action => 'vote', :id => ban[:id], :answer => 'no' }, :method => :post %> (<%= ban[:no] %>)
  </p>
<% end %>


